**/node_modules export-ignore
**/node_modules/** export-ignore
**/.turbo export-ignore
**/.turbo/** export-ignore
**/.expo export-ignore
**/.expo/** export-ignore
**/.DS_Store export-ignore
tmp/** export-ignore
androguard.log export-ignore
ghome-scan.json export-ignore
ghome-unplugged.json export-ignore
FILE_MANIFEST.txt export-ignore
artifacts/factory-images/** export-ignore
artifacts/factory-labels/private/** export-ignore
output/** export-ignore
Graphics/** export-ignore
.codex/** export-ignore
.agents/** export-ignore
